@model WebApp.ViewModels.SessionMoviesViewModel

@{
    ViewData["Title"] = "Add Session";
}

<div class="container movies-section" style="max-width: calc(100% - 40px);">
    <form asp-action="AddSession" asp-controller="Admin">
        <input type="hidden" asp-for="Session.Id" value="@Model.Session.Id" />
        <div class="row mb-4">
            <div class="col-md-4">
                <label asp-for="Session.TimeStart" class="control-label"></label>
                <input asp-for="Session.TimeStart" class="form-control" type="datetime-local" id="timeStart" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"/>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <label asp-for="Session.HallId" class="control-label">Hall</label>
                <select asp-for="Session.HallId" class="form-control">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label asp-for="Session.MovieId" class="control-label">Movie</label>
                <select asp-for="Session.MovieId" class="form-control">
                    @foreach (var movie in Model.Movies)
                    {
                        <option value="@movie.Id">@movie.Name</option>
                    }
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
