@model WebApp.ViewModels.EditSessionViewModel

@{
    ViewData["Title"] = "Edit Movie";
}
@if(Model.Session == null)
{
    <h1>Session not found</h1>
    <a class="btn btn-primary" asp-action="Sessions" asp-controller="Admin">Back</a>
    return;
}
<form asp-action="EditSession" asp-controller="Admin">
    <input type="hidden" asp-for="Session.Id" value="@Model.Session.Id" />
    <div class="row mb-4">
        <div class="col-md-4">
            <label asp-for="Session.MovieId" class="control-label"></label>
            <select asp-for="Session.MovieId" class="form-control">
                @foreach (var movie in Model.Movies)
                {
                    <option value="@movie.Id">@movie.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label asp-for="Session.HallId" class="control-label"></label>
            <input asp-for="Session.HallId" class="form-control" value="@Model.Session.HallId" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <label asp-for="Session.TimeStart" class="control-label"></label>
            <input asp-for="Session.TimeStart" class="form-control" type="datetime-local" value="@Model.Session.TimeStart.ToString("yyyy-MM-ddTHH:mm")"/>
        </div>
        <div class="col-md-4">
            <label asp-for="Session.TimeEnd" class="control-label"></label>
            <input disabled asp-for="Session.TimeEnd" class="form-control" type="datetime-local" value="@Model.Session.TimeEnd.ToString("yyyy-MM-ddTHH:mm")"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-primary" asp-action="DeleteSession" asp-controller="Admin" asp-route-SessionId="@Model.Session.Id">Delete</a>
</form>