@model BusinessLogic.DTOs.TicketDTO

@{
    ViewData["Title"] = "Purchase Successul";
}

<div class="auth-container">
    <form id="account" method="post">
        <h1 class="fw-bold">@ViewData["Title"]!</h1>
        <div>
            <p><strong>Ticket ID: </strong><span class="badge custom-badge">@Model.TicketId</span></p>
            <p><strong>Session ID: </strong><span class="badge custom-badge">@Model.SessionId</span></p>
            <p><strong>Place ID: </strong><span class="badge custom-badge">@Model.PlaceId</span></p>
            <p><strong>Price: </strong><span class="badge custom-badge">@Model.Price.ToString("0.00")₴</span></p>
            <p><strong>Payment Date: </strong><span class="badge custom-badge">@Model.PaymentDate</span></p>
        </div>
    </form>
    <div class="text-center">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
    </div>
</div>
